button {
    margin: 5px;
    padding: 5px;
    width: 100px;
    background-color: #467AB2;
    color: #FFF;
    border: 1px solid #467AB2;
    border-radius: 10%;
}

p {
    text-align: center;
}

.navigatie {
    display: block;
    margin: 10px auto;
    background-color: #FF9900;
    border: 1px solid #FF9900;
}